wrdz/wrdz-zmd/common/src/main/schemas/content-version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wrdz.synat.psnc.pl/zmd/object"
	xmlns="http://wrdz.synat.psnc.pl/zmd/object" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.0.1">


	<xs:complexType name="ContentVersion">
		<xs:sequence>
			<xs:element name="number" type="xs:int" maxOccurs="1" minOccurs="1" />
			<xs:element name="createdOn" type="xs:dateTime" maxOccurs="1" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>